<nav>
  <h1><a href="/">Our Data Our Hands</a></h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>

  <div id="bio">
    <p>A massive storage grid to safeguard humanity&rsquo;s data.</p>
    <p>Currently shielding <span class="hilite">4.9TB</span></p>
    <p><a href="http://data.ourdataourhands.org/">data.ourdataourhands.org</a></p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
