<nav>
  <h1>Our Data Our Hands</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>

  <div id="bio">
    <p>Let&rsquo;s create a massive storage grid to safeguard humanity&rsquo;s data &mdash; join the resistance.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
