<nav>
  <h1>Our Data Our Hands</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>

  <h2>Rise up!</h2>
  <div id="bio">
    <p>On a mission to create a planetary scale storage grid to host humanity's data. Join us!</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
